/* === Estilizações Globais === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
    
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    position: relative;
    width: 100vw;
    height: 100vh;
}


/* === Navbar === */
.nav__container {
    width: 85%;
    max-width: 85em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav {
    padding: 20px 0;
    position: sticky;
    width: 100%;
    top: 0;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    z-index: 3;
}

.nav__logo {
    color: #2b2b2b;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin: 0 20px 0 0 ;
}

.nav__link {
    color: #141414;
}

.bars {
    width: 60px;
    height: 35px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    display: none;
    z-index: 2;
}

.bars__burger {
    width: 22px;
    height: 3px;
    background:  #332e2e;
    border-radius: 5px;
}

.bars__burger::before,
.bars__burger::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 3px;
    background:  #332e2e;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.bars__burger::before {
    transform: translateY(-7px);
}

.bars__burger::after {
    transform: translateY(7px);
}

.bars.open .bars__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.bars.open .bars__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.bars.open .bars__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
} 

.menu__link {
    display: none;
}



/* === Responsividade === */
@media(max-width: 900px) {
    .bars {
        display: flex;
    }

    .nav__list {
        display: none;
    }

    .menu__mobile {
        width: 100%;
        height: 100vh;
        background-color: #dfe4ed;
        position: fixed;
        z-index: 1;
        transition: all linear 0.3s;
        top: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__link {
        line-height: 7ch;
        text-transform: uppercase;
        font-size: 1.125rem;
        color: #332e2e;
        display: block;
    }

    .hidden {
        top: -100%;
    }

    .active {
        top: 0;   
    }
}


